server {
    listen 80;
    server_name {{ ansible_ssh_host }};

    location / {
        include uwsgi_params;
        uwsgi_read_timeout 300;
        uwsgi_pass unix:/var/www/client/socket.sock;
    }
}
